/*
Color Scheme:
*/

body{
background-color:#65a4b7;
font-family: Lexend;
margin: 20px;
}
.container{
margin:40px 300px 40px 300px;
display:inherit;
float: left;
}
header.head{
  padding:30px;
  background-color: #342a67;
background-repeat: no-repeat;
background-size:contain;
display: flex;
border: 5px solid, #135691;
color:aliceblue;



}

header.primary{
background-color:#6C7339;
background-image: url(https://res.cloudinary.com/jerrick/image/upload/d_642250b563292b35f27461a7.png,f_jpg,fl_progressive,q_auto,w_1024/670d51ab61e4bb001dd3d343.jpg);
padding:30px;
background-repeat: no-repeat;
background-size:contain;
display: flex;
border: 5px solid, #4b5216;

}

header.primary div.hgroup{
    text-align: center;
    color: #00263d;
    width:70%;
  }
  header.primary nav{
    width:20%;
  }
  
  header.primary nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
  }
  header.primary nav ul li{
  margin-bottom: 10px;
  }
  header.primary nav ul li a{
    border: 3px solid #5FA0D9;
    border-right:10px solid #5FA0D9;
    border-radius:10px 0;
    color:white;
    display:block;
    background-color:rgba(0,0,0,.6);
    padding:5px 5px 5px 0;
    text-align:center;
    transition: .5s;
    text-decoration:none;
    margin-top:40px;
  }
  header.primary nav a:hover{
    background-color:rgba(0,0,0, .9);
    text-decoration:underline;
  }
  header.main-header{
    background-color: #4254a4;
    text-align: center;
    font-size:15px;

  }
  
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333f76;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(28, 3, 82);
}

li.dropdown {
  display: inline-block;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4254a4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:#4254a4 ;}

.dropdown:hover .dropdown-content {
  display: block;
}


#content{
  line-height: 1.8rem;
}
img{
  height:300px;
  width: 300px;
}



