/*
Color Scheme:
*/

body{
background-color:#65a4b7;
font-family: Lexend;
margin: 20px;
}
.main-body{
background-image: url(https://images.unsplash.com/photo-1496571330383-9b977f4a021d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);  
background-color:#b2e1ef;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height:100%;
font-family: Lexend;
margin: 20px;


}
.container{
margin:40px 300px 40px 300px;
display:inherit;
float: left;
}
header.head{
  padding:30px;
  background-color: #342a67;
background-repeat: no-repeat;
background-size:contain;
display: flex;
border: 5px solid, #135691;
color:aliceblue;



}

header.primary{
background-color:#6C7339;
background-image: url(https://res.cloudinary.com/jerrick/image/upload/d_642250b563292b35f27461a7.png,f_jpg,fl_progressive,q_auto,w_1024/670d51ab61e4bb001dd3d343.jpg);
padding:0px;
background-repeat: no-repeat;
background-size:contain;
display: flex;
border: 5px solid, #4b5216;


}

header.primary div.hgroup{
    text-align: center;
    color: #00263d;
    width:70%;
    
  }
  header.primary nav{
    width:20%;
  }
  
  header.primary nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
  }
  header.primary nav ul li{
  margin-bottom: 10px;
  }
  header.primary nav ul li a{
    border: 3px solid #5FA0D9;
    border-right:10px solid #5FA0D9;
    border-radius:10px 0;
    color:white;
    display:block;
    background-color:rgba(0,0,0,.6);
    padding:5px 5px 5px 0;
    text-align:center;
    transition: .5s;
    text-decoration:none;
    margin-top:40px;
  }
  header.primary nav a:hover{
    background-color:rgba(0,0,0, .9);
    text-decoration:underline;
  }
  header.main-header{
    background-color: #f0a2c2;
    text-align: center;
    font-size:15px;
    border-radius: 5px;

  }
  .main-header h1{
    color:#c31535;
    font-size: 40px;
    padding-top: 10px;
  
  }
  h2{
    color:#9c142d;
  }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f23f17;
  border-radius: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(82, 3, 29);
}

li.dropdown {
  display: inline-block;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#f0a2c2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
color:floralwhite;}

.dropdown:hover .dropdown-content {
  display: block;
}


#content{
  line-height: 1.8rem;
}
.thoughts{
  width:50%;
  height:75%;
  padding:20px;
  border-radius: 5px;
  background-color: #f0a2c2;
  color:#710f21;
margin:100px;
text-align:justify;
font-size: 18px;
font-weight: 200;

}
.reflection{
  width:75%%;
  height:75%;
  padding:20px;
  border-radius: 5px;
  background-color: #f0a2c2;
  color:#710f21;
margin:100px;
text-align:justify;
font-size: 18px;
font-weight: 200;
}
img{
  height:300px;
  width: 300px;
}
.page{
  height: 300px;
  width: 600px;
}
dt{
  text-decoration: underline;
  font-weight: 600;
  padding:10px 0;
}

footer{
margin-top:800px;
font-size: large;
}
footer.main{
  color: antiquewhite;
  text-align: center;
  font-size: 20px;
}

