html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  img{
    max-width: inherit;
  
    
  }
  /*--------Utility Classes------*/
  body{
  background-color:rgb(241, 245, 250);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0;
    padding:0;
    gap:10px;
  }

  header.primary{
   background-color:rgba(9, 84, 169, 0.832);
   font-size: 20px;
   grid-column-start: 1;
   grid-column-end: 12;
   grid-row-start: 1;
   grid-row-end: 1;
  border-radius: 10px;
  

 
   
  
   
  }
  header.primary h1{
    color: #f6f6fa;
    text-align: center;
  margin-left: 250px;}
  


  .topnav {
    background-color:rgba(0, 73, 137, 0.832) ;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
    border-radius: 10px;
    list-style-type: none;
    clear: both;

    
  }
  
 
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #022348;
    color: rgb(255, 253, 253);
  }
  
  .topnav ul{
    list-style-type: none;
  
  }
.logo{
  max-width: 100px;
  float:right;
  margin:20px;
}

.container{
  color: #05114f;
 margin-top: 20px;
 margin-left: 100px;
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end:10;

}
h3{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 12;
}
.gallery {
  --s: 150px; 
  --g: 10px;  
  --f: 1.5;   
  
  display: grid; 
  gap: var(--g);
  width:600px;
  aspect-ratio: 2;
  grid-template-columns: repeat(3,auto);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 12;
  margin-top: 100px;
  }

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .45s linear;
}

.gallery img:hover{
  filter: grayscale(0);
  width:  calc(var(--s)*var(--f));
  height: calc(var(--s)*var(--f));
}

.col{
  background-color: lightblue;
  padding:10px;
  margin: 20px;
  grid-column-start: 5;
  grid-column-end: 12;
  border-radius: 10px;
  position: static;
}
.col h2{
  color:#022348;
  text-decoration: underline;

}
  
@media screen and (min-width:768px){
  .row{
     grid-template-columns:2,1fr;
  }
}

@media screen and (min-width:992px){
    .row{
     grid-template-columns:repeat(4, 1fr);
  }
}
  






footer{
  background-color:rgba(1, 56, 105, 0.832);
  color: #f2f2f2;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 59;
  grid-row-end: 60;

}
footer a{
  color: #f2f2f2;
  margin: 8px;
}
h6{
  font-size: 15px;
  color:#f2f2f2;
  margin-left: 10px;
 
}
 
  

  
